@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgb(253, 253, 254);
}

header {
    background-color: #f1d73e;
}
.header h4 h1{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
h4 h1{
    padding-left: 20px;
}

img {
    width: 700px;
    height: 400px;
}

.pacotes {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.img_pacotes{
    width: 150px;
    height: 165px;
    border: 1px solid aliceblue;
    border-radius: 5px;
}

.detalhes {
    text-align: center;
    align-content: center;
    width: 150px;
    height: 40px;
    background-color: #2b90e2;
    box-sizing: border-box;
    border-radius: 5px;
}

p {
    color: aliceblue;
}
.footer{
    color: #000;
    padding-left: 20px;
}