@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body, html {
    font-family: 'League Spartan', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fdd941; */
}

.container {
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* background-color: #fff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    padding: 10px;
}
