@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    background-color: rgb(253, 253, 254);
}

html {
    font-size: 16px;
}
.package_details {
    display: flex;
    justify-content: space-between;
}

.introduction{
    font-size: 4.5vw;
    /* padding-top: 10px; */
    margin-right: 20px;
}
.price {
    font-size: 4.5vw;
}

.container {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}
.finish {
    width: 50%;
}

.btn {
    margin-top: 10px;
    width: 40vw; 
    height: 6.5vw; 
    background-color: #1162cf; 
    color: #fdd941;
    font-weight: 700;
    font-size: 3vw;
    align-content: center;
    align-items: center;
}
    
.buy {
    font-size: 4vw;
    /* padding-top: 10px; */
}

.img_payment_format {
    width: 2rem;
    margin-right: 0.5rem;
}

li{
    list-style-type: none;
    margin-bottom: 5px;
}

footer {
    background-color: #1162cf;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}